<div class="order">
  <h1>Tellimine</h1>
  <p>Tellimiseks on saadaval kogu menüü. Maksta saab nii sularahas kui ka kaardiga!</p>
  <p>Kohaletoomine:</p>
  <table class="order-table">
    <tbody>
      <tr>
        <td>Tapa, Moe, Vahakulmu</td>
        <td>5€</td>
      </tr>
      <tr>
        <td>Ambla, Kadrina, Lehtse</td>
        <td>10€</td>
      </tr>
      <tr>
        <td>Tamsalu, Jäneda, Aravete, Käravete</td>
        <td>15€</td>
      </tr>
    </tbody>
  </table>
  <p>
    Tellimiseks helista <a href="tel:+37257570779">+372 57 57 0779</a> või esita oma tellimus meie
    <a href="https://www.facebook.com/restoaugust" target="_blank">Facebooki lehe</a> kaudu.
  </p>
  <div style="text-align: center; line-height: 1.5; margin-top: 3rem; font-size: 1.5rem; font-weight: bold">
    <p>Oleme avatud E–P 11:00–21:00</p>
    <p>Pitsa avatud E-R 17:00-20:30, L-P 11:00-20:30</p>
  </div>
</div>
