<div class="order">
  <h1>Commande</h1>
  <p>Tous nos plats sont disponibles sur commande. Nous acceptons les paiments en espèces et par carte.</p>
  <p>Livraison à:</p>
  <table class="order-table">
    <tbody>
      <tr>
        <td>Tapa, Moe, Vahakulmu</td>
        <td>5€</td>
      </tr>
      <tr>
        <td>Ambla, Kadrina, Lehtse</td>
        <td>10€</td>
      </tr>
      <tr>
        <td>Tamsalu, Jäneda, Aravete, Käravete</td>
        <td>15€</td>
      </tr>
    </tbody>
  </table>
  <p>
    Pour passer commande veuillez appeler au <a href="tel:+37257570779">+372 57 57 0779</a> Pour passer commande
    veuillez appeler au <a href="https://www.facebook.com/restoaugust" target="_blank">Facebooki</a>.
  </p>
  <div style="text-align: center; line-height: 1.5; margin-top: 3rem; font-size: 1.5rem">
    <span>Nous sommes ouverts tous les jours de 11h00 à 21h00</span>
    <span>Les pizzas sont disponibles du lundi au vendredi de 17h00 à 20h30 et le week-end de 11h00 à 20h30</span>
  </div>
</div>
